<!-- レイアウト用ヘッダーぺージ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<header layout:fragment="header">
	<div class="header-content">
	
		<!-- header-left -->
		<div class="header-left">
			<h1 th:if="!(${notSignin})"><a th:href="@{/birthdayManagement/home}" th:text="#{app.name}"></a></h1>
			<h1 th:if="${notSignin}" th:text="#{app.name}"></h1>
		</div>
		
		<!-- header-right -->
		<div class="header-right">
			<!-- サインインやサインアウトに変更できるようにする予定 -->
			<form th:action="@{/admin/admin}" method="post" sec:authorize="hasRole('ADMIN')"> <!-- hasAuthorityとの使い分けに注意(どちらでもデータベースには"ROLE_"をつける) -->
				<input type="submit" th:value="#{admin.management}">
			</form>
			<form th:if="${notSignin}" th:action="@{/users/signin}" method="post">
				<input type="submit" th:value="#{user.signin.title}">
			</form>
			<form th:if="!(${notSignin})" th:action="@{/users/signout}" method="post">
				<input type="submit" th:value="#{user.signout.title}">
			</form>
		</div>
	</div>
</header>
</body>
</html>