<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>誕生日管理App</title>
<link href="/css/update.css" rel="stylesheet">
<link href="/css/common.css" rel="stylesheet">
</head>
<body>
<header>
	<h1><a th:href="@{/birthday/index}">誕生日管理App</a></h1>
</header>

<main>
	<div class="content">
		<h2>情報更新</h2>
		<form th:action="@{/birthday/update/id={id}(id=*{id})}" th:object=${registration} th:method="post">
			名前:<input name="name" type="text" th:field="*{name}">
			誕生日:<input name="birthday" type="date" th:field="*{birthday}">
			年齢：<input name="age" type="text" th:field="*{age}">
			関係性:<input name="relationship" type="text" th:field="*{relationship}">
			<button>登録</button>
		</form>
	</div>
	
</main>
</body>
</html>