@charset "UTF-8";

/* タグ指定(順序) */
body {
	margin:0px;
}

header{
	background-color:rgb(255, 208, 255);
	position:fixed;
	width:100%;
	opacity:0.9;
}

header h1{
	margin:0px;
	line-height:80px;
}

main {
	margin:0 auto;
	background-image:url("/images/gift-444518_1280.jpg");
	background-size:cover;
	height:853px;
}

footer {
	background-color:#fff4f7;
	height:30px;
}

/* タグ指定(不順) */

table {
	background-color:#fff;
	border-collapse:collapse; /*セルの線を重ねる*/
}

th, td {
	border:solid 1px #ddd;
	padding:10px;
}

th {
	background-color:#e2e2e2;
	/*セル幅はthのみでtdにも自動適用される*/
}

td {
	text-align:center;
}

ul {
  list-style-type: none;
  padding:0; /* 左にできる隙間を消す */
}


/* class指定(順序) */

.header-content {
	width:90%;
	margin:0 auto;
}

.header-left {
	float:left;
}

.header-right {
	float:right;
}

.header-right a {
	line-height:80px;
	background-color:rgb(255, 176, 255);
	display:inline-block;
	padding:0 20px;
	font-size:19px;
}

.content {
	padding-top:100px;
	width:90%;
	margin:0 auto;
}

.content-left, .content-right {
	width:50%;
	float:left;
}

.footer-content {
	width:90%;
	margin:0 auto;
	padding-top:5px;
}

.footer-left {
	float:left;
}

.footer-left h4 {
	margin:0;
}

.footer-right {
	float:right;
}

/* class指定(不順) */

.error-message {
	color:red;
}
