@charset "UTF-8";

/* タグ指定(順序) */

body {
	margin:0px;
}

header{
	position:fixed;
	width:100%;
	background-color:rgba(40, 90, 190, 0.3);
	opacity:0.9;
}

header h1{
	line-height:80px;
	margin:0px;
}

main {
	height:853px;
	margin:0 auto;
	background-image:url("/images/gift-444518_1280.jpg");
	background-size:cover;
}

footer {
	background-color:rgba(40, 90, 190, 0.3);
	height:30px;
}

/* タグ指定(不順) */

table {
	background-color:#fff;
	border-collapse:collapse; /*セルの線を重ねる*/
}

th, td {
	border:solid 1px #ddd;
	padding:10px;
}

th {
	background-color:#e2e2e2;
	/*セル幅はthのみでtdにも自動適用される*/
}

td {
	text-align:center;
}

ul {
  list-style-type: none;
  padding:0; /* 左にできる隙間を消す */
}


/* class指定(順序) */

.header-content {
	width:90%;
	margin:0 auto;
}

.header-left {
	float:left;
}

.header-left a{
	text-decoration: none; /* aタグの下線を削除 */
	color:white; /* 必須 */
	font-weight:bold;
	font-style:italic;
	padding:10px 20px;
	border-radius:7px;
	background-color:rgba(135, 206, 235, 0.7);
}

.header-right {
	float:right;
}

.header-right form {
	display:inline-block;
	line-height:80px;
	background-color:rgba(135, 206, 235, 0.7);
	padding:0 20px;
	font-size:19px;
}

.header-right input {
	background-color:transparent;
	border-style:none;
	text-decoration:underline;
	cursor:pointer;
	font-size:19px;
	width:120px;
	color: white;
}

.content {
	padding-top:100px;
	width:90%;
	margin:0 auto;
}

.content-left, .content-right {
	width:50%;
	float:left;
}

.footer-content {
	width:90%;
	margin:0 auto;
	padding-top:5px;
}

.footer-left {
	float:left;
}

.footer-left h4 {
	color:white;
	margin:0;
}

.footer-right {
	float:right;
}

/* class指定(不順) */

.error-message {
	color:red;
}
