@charset "UTF-8";

.content h2 {
	/*inputが左寄せなので、必須*/
	padding-left:48px;
}

.birthday {
	padding-bottom:5px;
}

.birthday label{
	/*selectタグの間のlabelなので必須*/
	padding:0 6px;
}

.birthday-year, .birthday-month, .birthday-date {
	display:inline;
}

.birthday-year select {
	width:70px;
}

.birthday-month select {
	width:55px;
}

.birthday-date select {
	width:55px;
}

