@charset "UTF-8";

label {
	display:inline-block;
	padding-bottom:5px;
}

input {
	width:270px;
	padding:5px;
	margin-bottom:10px;
}

button {
	/*inputのpadding,marginを考慮した値*/
	width:284px;
	padding:5px;
	margin-top:15px;
}

.signup, .signin{
	width:300px;
	margin:0 auto;
}



