@charset "UTF-8";

body {
	margin:0;
}

header{
	background-color:rgb(255, 208, 255);
	position:fixed;
	width:100%;
	opacity:0.9;
}

header h1{
	margin:0px;
	line-height:80px;
}

main {
	height:853px;
	background-color:#f2f2f2;
	padding-top:100px;
}

footer {
	background-color:#fff4f7;
	height:30px;
}

.header-content {
	width:90%;
	margin:0 auto;
}

.error-message {
	width:300px;
	margin-left:282px;
	color:red;;
}

.footer-content {
	width:90%;
	margin:0 auto;
	padding-top:5px;
}
