<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link href="/css/users/login.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<main>
	<h2>ログイン</h2>
	<div class="login">
		<form th:action="@{/users/login}" method="POST">
			メールアドレス:<input type="email" placeholder="raisetech@gmail.com">
			パスワード:<input type="password">
			<button>ログイン</button>
		</form>
	</div>
	<form th:action="@{/users/registration}"><button>新規登録はこちら</button></form>
</main>
<a th:href="@{/birthday/home}">誕生日管理App</a>
</body>
</html>