<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録フォーム</title>
<link href="/css/users/registration.css" rel="stylesheet">
</head>
<body>
<header>
</header>
<main>
	<h2>新規登録フォーム</h2>
	<div class="login">
		<form th:action="@{/users/registration}" method="POST">
			メールアドレス:<input name="mailAdress" type="email" placeholder="raisetech@gmail.com">
			パスワード:<input name="password" type="password" placeholder="パスワード">
			名前:<input name="name" type="text" placeholder="佐々木　太郎">
			
			誕生日:
			<select name="year" >
				<option th:each="year:${years}">[[${year}]]</option>
			</select>
			年
			<select name="month">
				<option th:each="month:${months}">[[${month}]]</option>
			</select>
			月
			<select name="date">
				<option th:each="date:${dates}">[[${date}]]</option>
			</select>
			日
			年齢:<input name="age" type="number" value="0">
			<button>新規登録</button>
		</form>
	</div>
</main>
<a th:href="@{/birthday/home}">誕生日管理App</a>
</body>
</html>