<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{user.signin.title}"></title>
	<link href="/css/users/signin.css" rel="stylesheet">
	<link href="/css/users/sign_common.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content signin">
		<h2 th:text="#{user.signin.title}"></h2>
		<div class="error-message">
			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
				ログインメッセージ
			</p>
			<ul>
				<li th:if="${validationError}" th:each="error : ${validationError}" class="error-message">
					<span th:text="${error}"></span>
				</li>
			</ul>
		</div>
		<form th:action="@{/users/signin}" method="POST">
		
			<!-- メールアドレス -->
			<label for="mailAddress" th:text="#{mailAddress}"></label><br>
			<input name="mailAddress" id="mailAddress" type="email" placeholder="raisetech@gmail.com"> <br>
			
			<!-- パスワード -->
			<label for="password" th:text="#{password}"></label><br>
			<input name="password" type="password" id="password" placeholder="パスワード"><br>
			
			<button th:text="#{user.signin.title}"></button>
		</form>
		<form th:action="@{/users/signup}"><button th:text="#{user.signup.get.button}"></button></form>
	</div>
</main>
</body>
</html>