<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>誕生日管理App</title>
<link href="/css/common.css" rel="stylesheet">
</head>
<body>
<header>
	<div class="header-content">
		<div class="header-left">
			<h1>誕生日管理App</h1>
			<h1><a th:href="@{/birthday/home}">誕生日管理App</a></h1> <!-- 仮 -->
		</div>
		<div class="header-right">
			<a th:href="@{/users/login}">ログイン</a>
		</div>
	</div>
</header>
<main>

</main>
<footer>
	<div class="footer-content">
		<div class="footer-left">
			<h4>>誕生日管理App</h4>
		</div>
		<div class="footer-right">
			<a href="https://pixabay.com/ja/users/blickpixel-52945/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=444518">Michael Schwarzenberger</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=444518">Pixabay</a>からの画像
		</div>
	</div>
</footer>
</body>
</html>