<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{app.name}"></title>
	<link href="/css/birthdayManagement/bm_home.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<div class="content-left calendar_plan">
			カレンダー
		</div>
		<div class="content-right">
			<h3 class="celebratedPerson_list" th:text="#{birthday.list.title}"></h3><a th:href="@{/birthdayManagement/insert}"><button class="insert" th:text="#{birthday.list.insert.button}"></button></a>
			<table>
				<tr>
					<th th:text="#{name}"></th>
					<th th:text="#{birthday}"></th>
					<th th:text="#{age}"></th>
					<th th:text="#{relationship}"></th>
					<th th:text="#{birthday.list.update.button}"></th>
					<th th:text="#{birthday.list.delete.button}"></th>
				</tr>
				<tr th:each="celebratedPerson:${celebratedPersons}" th:object="${celebratedPerson}"> <!-- 確認のためリスト名と、変数名を変えてある、のちにチェック要 -->
					<td th:text="*{name}"></td>
					<td th:text="*{birthDate}"></td>
					<td th:text="*{age}"></td>
					<td th:text="*{relationship}"></td>
					<td><a th:href="@{/birthdayManagement/update/id={id}(id=*{personId})}"><button th:text="#{birthday.list.update.button}"></button></a></td>
					<td><form th:action="@{/birthdayManagement/birthdayListDelete/id={id}(id=*{personId})}" th:method="POST"><button th:text="#{birthday.list.delete.button}"></button></form></td>
				</tr>
			</table>
		</div>
	</div>
</main>
</body>
</html>