<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{app.name}"></title>
	<link href="/css/birthdayManagement/index.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<div class="content-left">
			<!-- 実装予定 -->
			<p>実際に使っている画像を入れる</p>
		</div>
		<div class="content-right">
			<!-- 実装予定 -->
			<p>説明文を入れる</p>
		</div>
	</div>
</main>
</body>
</html>