<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{app.name}"></title>
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<h2 th:text="#{birthday.list.insert.title}"></h2>
		<ul class="error-message"> <!-- ulにth:eachを付けないのは、liのループではなくulのループになるから -->
			<li th:if="${validationError}" th:each="error : ${validationError}" >
				<span th:text="${error}"></span>
			</li>
		</ul>
		<form th:action="@{/birthdayManagement/insert}" th:method="post">
			
			<!-- 名前 -->
			<label th:text="#{name}" for="name"></label>
			<input name="name" type="text">
			
			<!-- 誕生日 -->
			<label th:text="#{birthday}" for="birthday"></label>
			
			<!-- 年 -->
			<select name="year" >
				<option th:each="year:${years}">[[${year}]]</option>
			</select>
			<label th:text="#{year}" for="year"></label>
			
			<!-- 月 -->
			<select name="month">
				<option th:each="month:${months}">[[${month}]]</option>
			</select>
			<label th:text="#{month}" for="month"></label>
			
			<!-- 日 -->
			<select name="date">
				<option th:each="date:${dates}">[[${date}]]</option>
			</select>
			<label th:text="#{date}" for="date"></label>
			
			<!-- 年齢(削除予定) -->
			<!--<label th:text="#{age}" for="age"></label>
			<input name="age" id="age" type="number" value="0"> --> <!-- numberにすると、英字が打てなくなる -->
			
			<!-- 関係性 -->
			<label th:text="#{relationship}" for="relationship"></label>
			<input name="relationship" id="relationship" type="text">
			
			<button th:text="#{birthday.list.insert.button}"></button>
		</form>
	</div>
</main>
</body>
</html>