<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.RegistrationMapper">

<select id="select" resultType="com.example.demo.entity.Registration">
	SELECT * FROM registration WHERE id=#{id}
</select>

<select id="selectAll" resultType="com.example.demo.entity.Registration">
	SELECT * FROM registration
</select>

<insert id="insert">
	INSERT INTO registration (name, birthday, age, relationship) VALUES (#{name}, #{birthday}, #{age}, #{relationship})
</insert>

<update id="update">
	UPDATE registration SET name=#{name}, birthday=#{birthday}, age=#{age}, relationship=#{relationship} WHERE id=#{id}
</update>

<delete id="delete">
	DELETE FROM registration WHERE id=#{id}
</delete>

</mapper>